<p id="notice"><%= notice %></p>

<h3 style="text-align: center;">Bogly Creatures</h3>


<table class="table table-responsive" style="width: 100%;">
<thead>
<tr style="text-align: center;">
<td>Name:</td>
      <td>Description:</td>
      <td>Show:</td>
      <td>Edit:</td>
      <td>Delete:</td>
    </tr>
</thead>
  <tbody>

    <% @creatures.each do |creature| %>
      <tr style="line-height: 3">
      <td><%= creature.name %></td>
            <td><%= creature.description %></td>

        <td><%= link_to 'Show', creature %></td>
        <td><%= link_to 'Edit', edit_creature_path(creature) %></td>
        <td><%= link_to 'Destroy', creature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add Creature', new_creature_path %>
