<!DOCTYPE html>
<html>
<head>
  <title>BogHomework</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Alice' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Walter+Turncoat' rel='stylesheet' type='text/css'>
  <link href="/assets/stylesheets/screen.css" data-turbolinks-track="true" rel="stylesheet" type="text/css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1><%= link_to "Bogly",root_path %></h1>

        <p class="scribble">A disgusting place where creatures roam.</p>
    </div>
  </div>
  <div class="row">
   <div class="col-xs-offset-4 col-xs-4">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" id="drop" class="dropdown-toggle" data-toggle="dropdown">Adventures: <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "See All Creatures",creatures_path %><i class="fa-eye"></i> </li>
            <li><%= link_to "Add New Creature",new_creature_path %><i class="fa-plus"></i></li>
            <li><%= link_to "View Tags", tags_path %><i class="fa-tags"></i></li>
            <li><a href="http://www.backpage.com">Get The Hell Outta Here</a></li>

          </ul>
        </li>
      </ul>
    </div>
  </div>

    <!-- Collect the nav links, forms, and other content for toggling -->

  <div class="row">
    <div class="col-xs-12">
      <%= yield %>
    </div>
    </div>
  </div>

</html>
