<!DOCTYPE html>
<html>
<head>
  <title>BogHomework</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="//code.jquery.com/jquery.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="container">
  <div class="row">
    <div class="page-header">
        <h1>Bogly <br/> <small>A really disgusting place where creatures roam.</small></h1>
      </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <%= yield %>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <h3>Links:</h3>
    <ul>
    <li><%= link_to "Home",root_path %> |</li>
        <li><%= link_to "All Creatures",creatures_path %> |</li>


   </ul>
    </div>
  </div>
</div>

</html>
